body {
    font-family: 'source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

header h1 a {
    color: red;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    justify-content: flex-end;
    width: 80%;
}

header nav a {
    align-self: right;
    margin-right: 5%;
}

header nav a img {
    height: 25px;
}

.post-entry {
    margin-bottom: 2rem;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a.visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

p.welcome {
    margin: 1em 2em 1em 2em;
}

h2.welcome {
    text-align: center;
}